body{ 
    margin: 0px; 
    padding: 0px;
    font-family: 'Quicksand', sans-serif;
} 
.bg-image{ 
    background-image: url("img/Layer1.png");
    background-size: cover;
    height: 100vh;
}
.container{ 
    width: 1141px;
    margin: 0px auto;
}
.flex{display: flex;}
.bg-opacity{
    background-color: black;
    display: flex;
    align-items: center;
    opacity: 0.4;
    height: 10vh;
    width: 100%;
}
.logo{
    display: flex;
    align-items: center;
}

.topbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    
}
.green-text{ color: #18cfab;}
.white{ color: white;}
.logo-text{ 
    padding-left: 5px;
    color: white;
}
.nav-menu{
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #b8b8b8;
    cursor: pointer;
}
.end-menu{ 
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    align-items: center;
}

.menu-item{ 
    padding-left: 23px;
 }
.menu-item:hover{
    color: #18cfab;
    transition: 350ms;
}
.padding3{ padding-right: 258px;}
.position-a{
    position: absolute;
    padding-left: 20px;
    color: white;
}
.position-r{
    position: relative;
}
.padding-b{
    margin-bottom: 245px;
}
.border-b{
    border-bottom: 3px solid #18cfab;
}
.font-size{
    font-size: 14px;
}
.f-size{
    font-size: 50px;
}
.padding-top{
    padding-top: 247px;
}
.margin-45{
    margin-top: -45px;
}
.center{
    justify-content: center;
    align-items: center;
    display: flex;
    flex-direction: column;
    
}
.btngreen{
    width: 153px;
    height: 58px;
    background-color: #18cfab;
    color: white;
    border-radius: 3px ;
    border: none;
    border-top: 5px solid white;
}
.padding100{
    padding-top: 100px;
}

.btnblue{
    background-color: #00cbf6;
    width: 153px;
    height: 58px;
    color: white;
    border-radius: 3px ;
    border: none;
    border-top: 5px solid white;
    margin-left: 23px;

}
.rectangle{
    width: 480px;
    height: 367px;
    background-color: #1c2a33;
    border-top: 6px solid #18cfab;

}
.rectangle2{
    width: 480px;
    height: 367px;
    background-color: #18cfab;
    border-top: 6px solid white;

}
