body{ margin: 0px; padding: 0px;} 
.bg-image{ 
    background-image: url("Layer1.png");
    background-size: cover;
    height: 100vh;
}
.container{ 
    width: 1141px;
    margin: 0px auto;
}
.flex{display: flex;}
.bg-opacity{
    background-color: black;
    opacity: 0.4;
    height: 100vh;
}
.topbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    
}
.green-text{ color: #18cfab;}
.white{ color: white;}
.logo-text{ 
    padding-left: 5px;
    color: white;
}
.nav-menu{
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #b8b8b8;
}
.end-menu{ 
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    align-items: center;
}
.quicksand{ font-family: 'Quicksand', sans-serif;}
.menu-item{ padding-left: 23px; }
.padding3{ padding-right: 258px;}