body{ 
    margin: 0px; 
    padding: 0px;
    font-family: 'Quicksand', sans-serif;
} 
.bg-image{ 
    background-image: url("img/Layer1.png");
    background-size: cover;
    height: 100vh;
}
.container{ 
    width: 1141px;
    margin: 0px auto;
}
.flex{display: flex;}
.bg-opacity{
    background-color: black;
    display: flex;
    align-items: center;
    opacity: 0.4;
    height: 10vh;
    width: 100%;
}
.logo{
    display: flex;
    align-items: center;
}

.topbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    
}
.green-text{ color: #18cfab;}
.white{ color: white;}
.logo-text{ 
    padding-left: 5px;
    color: white;
}
.nav-menu{
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #b8b8b8;
    cursor: pointer;
}
.end-menu{ 
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    align-items: center;
}

.menu-item{ 
    padding-left: 23px;
 }
.menu-item:hover{
    color: #18cfab;
    transition: 350ms;
}
.padding3{ padding-right: 258px;}
.position-a{
    position: absolute;
    padding-left: 20px;
    color: white;
}
.position-r{
    position: relative;
}
.padding-b{
    margin-bottom: 245px;
}